# Describtive Analytics

In [1]:
import pandas as pd

df = pd.read_csv('../Data/CovidData.csv')
df['date'] = pd.to_datetime(df['date'])

df.head()

,date,canton,daily_tested,ncumul_tested,daily_conf,ncumul_conf,seven_day_conf,testRelation,new_hosp,current_icu,current_vent,ncumul_released,daily_released,daily_deceased,ncumul_deceased,seven_day_dec,current_isolated,current_quarantined_total
0,2020-02-26,AG,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,2020-02-27,AG,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
2,2020-02-28,AG,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
3,2020-02-29,AG,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
4,2020-03-01,AG,NaN,NaN,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [2]:
df.describe()

,daily_tested,ncumul_tested,daily_conf,ncumul_conf,seven_day_conf,testRelation,new_hosp,current_icu,current_vent,ncumul_released,daily_released,daily_deceased,ncumul_deceased,seven_day_dec,current_isolated,current_quarantined_total
count,135.000000,241.000000,14692.000000,14816.000000,14182.000000,133.000000,981.000000,11186.000000,4867.000000,4911.000000,4954.000000,13928.000000,14177.000000,13148.000000,7094.000000,1480.000000
mean,276.059259,46633.414938,63.730057,15799.355562,64.538681,0.082524,3.435270,8.406848,9.019725,27.109550,6347.160880,0.786904,258.410101,0.787605,532.377361,341.952703
std,235.952144,80278.203007,128.142053,23539.389482,120.600836,0.107454,6.334481,14.263356,13.361997,58.471413,11515.624825,2.076160,330.195578,1.886390,1016.522762,325.255087
min,0.000000,1.000000,-2.000000,0.000000,-0.285714,0.000000,0.000000,0.000000,0.000000,-38.000000,0.000000,-3.000000,0.000000,-0.428571,0.000000,0.000000
25%,28.500000,3627.000000,4.000000,945.000000,4.428571,0.004292,0.000000,1.000000,1.000000,1.000000,376.000000,0.000000,23.000000,0.000000,40.000000,102.000000
50%,267.000000,22272.000000,18.000000,5095.500000,21.142857,0.025559,1.000000,3.000000,4.000000,5.000000,1007.000000,0.000000,114.000000,0.142857,142.000000,278.000000
75%,436.500000,36472.000000,65.000000,20436.250000,70.000000,0.136364,4.000000,9.000000,11.000000,27.000000,8618.500000,1.000000,376.000000,0.571429,556.000000,498.500000
max,1056.000000,405204.000000,1642.000000,158032.000000,1211.000000,0.500000,53.000000,107.000000,79.000000,590.000000,61785.000000,25.000000,1520.000000,18.285714,10428.000000,2511.000000